body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.dashboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.dashboard-icons-container {
    width: 100%;
    max-width: 650px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    background-color: #81F0E5;
}

/* Rest of the CSS code remains unchanged */


.dashboard-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}

.dashboard-icons img {
    width: 40px;
    height: 40px;
}

.dashboard-icon-label {
    font-size: 14px;
    font-family: "Inter"
}

.dashboard-title {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
