body, html {
    height: 100%;
    padding: 20px;
    font-style: italic;
    background-image: url("/static/assets/kseniya-lapteva-9oqHatKA8SI-unsplash-3.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.ErorM{
    color: red;
    font-size: 16px;
}
.title {
    text-align: center;
}

form {
    width: 300px;
    height: 240px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #5B6057;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    background-color: #6E9075;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

p {
    text-align: center;
    color: white;
}

p a {
    color: white;
}

.error {
    color: red;
    margin-bottom: 5px;
}
