.container {
    background-color: #78C091;
    width: 995px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.green-container {
    background-color: #78C091;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.white-container {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    width: 895px;
    height: 400px;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/static/assets/background.png");
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    font-size: 18px;
    margin-right: 5px;
    font-family: sans-serif;
}

input[type="text"],
input[type="email"],
select {
    width: 400px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
}

#profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit-mode-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.profile-picture-container {
    position: relative;
}

#profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 20px;
}

.edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #78C091;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #5D8E70;
}

#edit-profile-btn {
    margin-left: 10px;
  }
  
#edit-profile-btn{
    margin-bottom: 15px;
}