{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Note Making Website</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/CRNOTE.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/Navbar.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create new thread</h1>
        <div class="content">
            <form id="noteForm" enctype="multipart/form-data">
                <input type="text" id="title" class="title" placeholder="Thread Title">
                <textarea id="content" placeholder="Thread Content"></textarea>
                <input type="file" id="attachment" accept=".pdf,.doc,.docx,.txt">          
                <button type="submit" class="save-button">create thread</button>
            </form>

            <ul id="noteList"></ul>
            <!-- navbar.html -->
            <div class="navbar">
                <link rel="stylesheet" type="text/css" href="{% static '/css/Navbar.css' %}">
                <a href="{% url 'mycourse' %}" class="nav-link active">
                <img src="{% static '/assets/My-Courses.png' %}" alt="My Course" class="nav-icon">
                </a>
                <a href="{% url 'collection' %}" class="nav-link">
                <img src="{% static '/assets/Collection.png' %}" alt="Collection" class="nav-icon">
                </a>
                <a href="{% url 'mynote' %}" class="nav-link">
                <img src="{% static '/assets/My-Notes.png' %}" alt="My Notes" class="nav-icon">
                </a>
                <a href="{% url 'profile' %}" class="nav-link">
                <img src="{% static '/assets/Profile.png' %}" alt="Profile" class="nav-icon">
                </a>
            </div>
        </div>
    </div>
    <script src="MYNOTE.js"></script>
</body>
</html>
