{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnly Login Page</title>
    {% comment %} <link href={% static 'https://fonts.googleapis.com/css?family=Open Sans' %} rel='stylesheet'> {% endcomment %}
    <link rel="stylesheet" href="{%static '/css/Login.css'%}">
</head>
<body>
    <h1 class="title">Learnly</h1>

    {% comment %} display error if user misinput credential {% endcomment %}
    
    <form id="registerForm" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input name="username" type="text" id="username"><br>
        <div class="error" id="username-error"></div>
      
        <label for="password">Password</label>
        <div class="container">
            <input name="password" type="password" id="password" required>
            {% for message in messages %}
            <t5 class = "ErorM">{{ message }}</t5>
            {% endfor %}
        </div>
        <div class="error" id="password-error"></div>
      
        <div class="submit-container">
            <input type="submit" value="Login">
        </div>
    </form>
    {% comment %} <script src="{%static 'script.js' %}"></script> {% endcomment %}
</body>
</html>